/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #333;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Header and Navigation */
header {
    background-color: #333; /* Black color */
    color: white;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

/* About Section */
#about {
    padding: 20px;
    background-color: white;
    text-align: center;
}

.about-container {
    position: relative;
    background-image: url('https://freerangestock.com/sample/128305/back-side-view-of-man-at-beach-.jpg');
    background-size: cover;
    background-position: center;
    height: 400px; /* Adjust the height as needed */
    width: 100%;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Experience Section */
#experience {
    padding: 20px;
    background-color: white;
    margin: 20px 0;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

h3 {
    margin-top: 20px;
}

/* Projects Section */
#projects {
    background-color: #e9ecef;
    padding: 20px;
}

#projects ul {
    list-style: none;
    padding: 0;
}

#projects ul li {
    margin: 10px 0;
}

/* Contact Section */
#contact {
    padding: 20px;
    background-color: white;
    margin: 20px 0;
}

#contact ul {
    list-style: none;
    padding: 0;
}

#contact ul li {
    margin: 10px 0;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
